.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 540px;
    margin: auto 16px;
}

.largeText {
    font-size: 24px;
}

.mediumText {
    font-size: 18px;
}

.smallText {
    font-size: 16px;
}

.gray {
    color: var(--gray);
}

.nearWhite {
    color: var(--light-gray);
}

.passwordOutputContainer {
    background-color: var(--charcoal);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.passwordOutputContainer p {
    color: var(--light-gray);
}

.copyContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1rem;
}

.copiedText {
    align-self: center;
    color: var(--light-green) !important;
}

.formContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--charcoal);
    padding: 16px;
    gap: 16px;
}

.lengthOutputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lengthOutput {
    color: var(--light-green);
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    padding: 16px 0;
    background-color: var(--charcoal);
}

/* TODO: Make this work for mozilla as well */

.slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to right, var(--light-green) 0%, var(--light-green) 50%, var(--noire) 50%, var(--noire) 100%);
    height: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: -7.5px;
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--noire);
    border: 2px solid var(--light-green);
}

.checkboxesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--charcoal);
    border: 2px solid white;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

.checkbox:checked {
    border: none;
    background: var(--light-green) url("/src/assets/images/icon-check.svg") 2px 4px no-repeat;
}

.inactiveLabel {
    pointer-events: none;
}

.strengthContainer {
    padding: 16px;
    align-items: center;
    background-color: var(--noire);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.strengthOutputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.strengthDisplayContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.strengthDisplayContainer div {
    width: var(--bar-width);
    height: var(--bar-height);
}

.emptyBar {
    background-color: var(--noire);
    box-sizing: border-box;
    border: 2px solid white;
}

.redBar {
    background-color: var(--red);
}

.orangeBar {
    background-color: var(--orange);
}

.yellowBar {
    background-color: var(--yellow);
}

.greenBar {
    background-color: var(--light-green);
}

.button {
    background-color: var(--light-green);
    border: 2px solid transparent;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    box-shadow: none;
    transform: none;
}

.button:hover {
    color: var(--light-green);
    background-color: var(--charcoal);
    border: 2px solid var(--light-green);
    cursor: pointer;
}

.buttonContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.rightArrowIcon path {
    fill: var(--noire);
}

.button:hover path {
    fill: var(--light-green);
}

@media screen and (min-width: 572px) {

    .appContainer {
        margin: auto;
    }

    .largeText {
        font-size: 32px;
    }
    
    .mediumText {
        font-size: 24px;
    }
    
    .smallText {
        font-size: 18px;
    }
}